body {
    margin-left: 0px;
    display:block;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background-color: #71a4f0;
}

h1{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 120PX;
    margin-left: 340px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
 color: white;
}

.rectangle {
    background-color: white;
    /* border: 2px solid #333; */
    margin-left: 320px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 600px;
    height: 210px;
    font-family: 'Poppins-Black';
}

input {
    margin: 5px -10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 150px;
    height: 50px;
    padding: 5px 40px;
    /* margin-left: 345px; */
    background-color: #007bff;
    color: white;
    border: 0;
    outline: none;
    font-size: 22px;
    border-radius: 22px;
    cursor: pointer;
    margin-top: 20px;
}

.label-mar{
    margin-top: 20px;
}

.font-eql{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




